@using Microsoft.AspNetCore.Mvc.Rendering
@{
}
<div>
    @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" id="files" name="files" />
        <input type="submit" value="上传" />
    }
</div>
